@import "./variables";

.rootReactVNB {
  display: none !important;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: $bg-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

//mobile screens
@media screen and (max-width: 375px) {
    body{
      margin: 0;
    }
}