@import '../variables';

#bottom-nav {
  height: auto;
  margin: 10px 0 10px 15px;
  padding: 15px 0px;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#go-back-btn {
  color: $Cool-gray;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: .8em;
  visibility: hidden;
}

#go-back-btn:hover {
  color: $Marine-blue;
}

.next-btn{
  @include square-btn($Marine-blue);
}

.confirm {
  @include square-btn($Purplish-blue);
}

.next-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  #bottom-nav {
    margin: 0;
    padding: 15px;
    box-shadow: $bx-shadow;
  }
}