@import "../_variables.scss";

#nav-sidebar {
  @include bg-image("/images/bg-sidebar-desktop.svg");
  width: 30%;
  height: 100%;
  border-radius: $bd-radius;
}

#nav-links-container {
  margin: 30px;
  position: relative;
}

.link-wrapper {
  display: flex;
  align-items: center;
  margin: 12px 0;
  position: relative;
  // z-index: 20;
}

.round-nav-btn {
  @include round-btn(transparent);
  margin-right: 10px;
  text-decoration: none;
}

.active, .round-nav-btn:hover {
  background-color: $Light-blue;
  color: $Marine-blue;
  border: none;
}

.what-section {
  font-size: .75em;
}

.step-faded-txt {
  font-size: .9em;
  color: $Cool-gray;
}


// .progress-line {
//   background-color: $Light-blue;
//   width: 2px;
//   height: 75%;
//   position: absolute;
//   border-radius: 20px;
//   top: 17px;
//   left: 13.2px;
//   z-index: -2;
// }
@media screen and (max-width: 450px) {
  #nav-sidebar{
  @include bg-image("../images/bg-sidebar-mobile.svg");
    width: 100%;
    height: 20%;
    border-radius: 0;
    display: grid;
    place-items: center;
  }

  #nav-links-container {
    display: flex;
    gap: 5px;
    position: relative;
    top: -20px;
  }

  .what-section {
    display: none;
  }

  a {
    color: $White;
  }
}