@import '../variables';

#personal-info {
  @include content-section-child;
}

#personal-info-form {
  font-size: .85em;

  input {
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0 15px;
    font-size: .9em;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid $Light-gray;
    outline: none;
    color: $Marine-blue;
    cursor: pointer;

    &:hover {
    border: 1px solid $Purplish-blue;
    }
    &:focus {
      border: 1px solid $Purplish-blue;
    }
  }
}

label {
  display: flex;
  justify-content: space-between;
}

.required {
  color: $Strawberry-red;
  display: none;
  font-size: 9px
}


@media screen and (max-width: 450px) {
  label {
    font-size: 9.5px;
  }

  .required {
    font-size: 8.8px
  }
}
