@import '../variables';

#pick-add-ons {
  @include content-section-child;
}

.add-on {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid $Cool-gray;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border: 1px solid $Marine-blue;
  }

  label{
    width: 15px;
    height: 15px;
    border: 1px solid $Cool-gray;
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    place-items: center;
  
   ion-icon {
    color: white;
    display: block;
   }
  }
}

.checked {
  background-color: $Purplish-blue;
}

.none {
  display: none;
}

.one {
  margin-top: 25px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.add-on-price {
  color: $Purplish-blue;
  position: relative;
  top: 5px;
}