@import '../variables';

#select-your-plan {
  @include content-section-child;
  // display: none;
}

#plans-container {
  @include plans-container;
}

.plan {
  border: 1px solid $Cool-gray;
  border-radius: $bd-radius;
  padding: 15px 10px;
  width: 30%;
  // height: 130px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  overflow: hidden;

  &:hover {
    border: 1px solid $Marine-blue;
  }

.plan-logo {
  width: 40px;
  object-fit: contain;
}

div {
  display: grid;
  gap: 4px;
}
}

.plan-focus {
  background-color: $Magnolia;
  border: 1px solid $Marine-blue;
}

.months-free-txt {
  font-size: 10px;
  color: $Marine-blue;
  font-weight: bold;
  margin-top: 5px;
  display: none;
}

#month-year-select {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 10px 70px;
  border-radius: 5px;
  background-color: $Magnolia;
}

#month-year-toggle-btn {
  position: relative;
  width: 30px;
  height: 15px;
  background-color: $Marine-blue;
  border-radius: 20px;
  transition: 1s;

  &:hover {
    cursor: pointer;
  }
}

.white-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: $White;
  border-radius: 50%;
  transform: scale(0.7) translate(0%);
  transition: .5s;
}

.slide {
  transform: scale(0.7) translate(145%);
}

@media screen and (max-width: 450px) {
  #plans-container {
    flex-direction: column;
    gap: 15px;
  } 

  .plan {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
    padding: 10px;
  }
}